.file-download {
    position: relative;
    display: none;
    margin: 20px 0 0 10px;
}

.file-download__label {
    display: inline;
    padding: 1em 2em;
    color: #222;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: .4em;
    transition: background .3s;
}

.file-download__label:hover {
     cursor: pointer;
     background: #fff;
}

.file-download__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
