.spinner-box {
    height: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.circle-border {
    width: 75px;
    height: 75px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(37, 37, 37);
    background: linear-gradient(0deg, rgba(37, 37, 37, 0.1) 33%, rgb(37, 37, 37) 100%);
    animation: spin .8s linear 0s infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}
